/* CSS for website */
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700,700i&amp;subset=greek,greek-ext,latin-ext");

body {
    font-family: 'Source Sans Pro', 'Segoe UI', 'San Francisco', 'Helvetica Neue', 'Noto Sans', 'DejaVu Sans', 'STIX Two Math', Symbola, sans-serif;
    font-size: 18px;
}
.book.font-family-0 {
    font-family: 'Libertinus Serif', 'Libertinus Math', Georgia, Times, 'Noto Serif', 'STIX Two Math', Symbola, serif;
}
.book.font-family-1 {
    font-family: 'Source Sans Pro', 'Segoe UI', 'San Francisco', 'Helvetica Neue', 'Noto Sans', 'DejaVu Sans', 'STIX Two Math', Symbola, sans-serif;
}
.book.font-family-0.font-size-2 .book-body .page-inner section {
    font-size: 20px;
}
.book.font-family-1.font-size-2 .book-body .page-inner section {
    font-size: 18px;
}
body p {
    text-align: justify;
}
.markdown-section h1 {
    font-size: 1.5em;
}
.markdown-section h2 {
    font-size: 1.3em;
}
.markdown-section h3 {
    font-size: 1.2em;
}
.markdown-section h4 {
    font-size: 1.1em;
}
