/* Libertinus Serif web font: */
/* @import url("https://fontlibrary.org/face/libertinus-serif"); */
@font-face {
    font-family: 'Libertinus Serif';
        src: url('https://fontlibrary.org/assets/fonts/libertinus-serif/064f563b9f38a48199d290c167997a6c/b8df7ce5c492ba3e7e2a79be794d2ed7/LibertinusSerifBold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
      }

@font-face {
    font-family: 'Libertinus Serif';
        src: url('https://fontlibrary.org/assets/fonts/libertinus-serif/064f563b9f38a48199d290c167997a6c/41ab17fb57e7e928726c12a333f773e8/LibertinusSerifBoldItalic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
      }

@font-face {
    font-family: 'Libertinus Serif';
        src: url('https://fontlibrary.org/assets/fonts/libertinus-serif/064f563b9f38a48199d290c167997a6c/e44ba87dfec80d0fa5a92709da194053/LibertinusSerifItalic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
      }

@font-face {
    font-family: 'Libertinus Serif';
        src: url('https://fontlibrary.org/assets/fonts/libertinus-serif/064f563b9f38a48199d290c167997a6c/2cfcdbd569ec4ca2a4afbf3943fc0017/LibertinusSerifRegular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
      }

/* Fix Android scroll & PDF print bug: */ 
/*.book-body {
   overflow-y: visible;
}*/
.book {
    height: 200%;
}

.color-theme-1 .body-inner, .color-theme-1 .navigation {
    background: #f3eacb;
}
.color-theme-2 .body-inner, .color-theme-2 .navigation {
    background: #1c1f2b;
}

/* Serif and sans-serif fonts: */
body .font-family-0, .book.font-family-0 {
    font-size: 20px;
    font-family: 'Libertinus Serif', Georgia, Times, 'Noto Serif', serif;
}
body, body .font-family-1, .book.font-family-1 {
    font-size: 18px;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Roboto, 'Noto Sans', 'DejaVu Sans', sans-serif;
}

/* Javascript font resize: */
.book.font-size-0 .book-body .page-inner section {
    font-size: 80%;
}
.book.font-size-1 .book-body .page-inner section {
    font-size: 90%;
}
.book.font-size-2 .book-body .page-inner section {
    font-size: 100%;
}
.book.font-size-3 .book-body .page-inner section {
    font-size: 110%;
}
.book.font-size-4 .book-body .page-inner section {
    font-size: 125%;
}

/* Headers font-size: */
.markdown-section h1 {
    font-size: 150%;
}
.markdown-section h2 {
    font-size: 130%;
}
.markdown-section h3 {
    font-size: 120%;
}
.markdown-section h4 {
    font-size: 110%;
}

/* Other: */
body p {
    text-align: justify;
}
